*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* COLORS */
  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #c7c0cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-ivert: #030203;

  /* Background */
  --bg-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222e;
  --bg-brand: #c58de7;
  --bg-gray: #3d3d3d;

  /* Accent */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0aa;
  --accent-line: #d1dc97;
  --accent-red: #e9a9b3;

  /* gradient-border */
  --bg-border: linear-gradient(
    90deg,
    #77c0af 16%,
    #d1dc97 24.84%,
    #e9a9b3 35%,
    #d586e0 49%,
    #91a1fa 64.58%
  );

  /*gradient-bg  */
  --bg-gradient: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);

  /* gradient-content */
  --bg-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

  /* TIPOGRAPH */
  --ff-sora: "Sora", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;
  --ff-roboto-flex: "Roboto Flex", sans-serif;
  --sora-lg: 900 4.5rem/130% var(--ff-sora);
  --sora-md: 900 2.5rem/130% var(--ff-sora);
  --sora-sm: 600 2rem/130% var(--ff-sora);
  --roboto-overline: 600 1rem/150% var(--ff-roboto-mono);
  --roboto-mono: 600 3rem/150% var(--ff-roboto-mono);
  --paragraph-lg: 500 1rem/150% var(--ff-roboto-flex);
  --paragraph-md: 400 0.875rem/150% var(--ff-roboto-flex);
  --paragraph-sm: 400 0.75rem/150% var(--ff-roboto-flex);
  --label-md: 600 1.25rem/150% var(--ff-roboto-flex);
  --label-sm: 600 1rem/150% var(--ff-roboto-flex);
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
  color: var(--content-primary);
  font-size: 16px;
}

@media (width >= 80rem) {
  body {
    height: 100vh;
    background-color: var(--bg-primary);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
      ),
      url("../assets/bg-image-1.png");
    background-size: cover;
    background-position: center;
  }
}

@media (width < 80rem) {
  body {
    background-color: var(--bg-primary);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
      ),
      url("../assets/bg-image-1.png");
    background-size: cover;
    background-position: center;
  }
}
