@import "../css/global.css";
@import "./banner.css";
@import "./raffle.css";
@import "./asks.css";
@import "./result.css";
@import "./animation.css";
@import "./form.css";
@import "./inputs.css";
@import "./button.css";

@media (width < 80rem) {
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner"
      "raffle"
      "asks";

    padding-inline: clamp(1rem, 3vw, 2.25rem);
  }
}

@media (width >= 80rem) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 32.125rem;
    grid-template-areas:
      "banner raffle"
      "asks raffle";

    column-gap: clamp(2rem, 5vw, 6.75rem);
  }
}
